h1= title
form(method='post', action='/authenticate')
  div
    label Salesforce Org Id:
      input(name='org_id', value='#{defaults.orgId}', type='text')
  div
    input(type='submit', value='Authenticate')