h1= title
p This application handles notification messages from Qualcomm and generates device messages in Salesforce org. Click on the Authenticate link below to enable transferring device messages to Salesforce org. 
ul
  li: a(href='/authOrg') Authenticate

