h1= title
form(method='post', action='/Register')
  div
    label SF User ID:
      input(name='sf_user_id', value='#{defaults.sf_user_id}', type='text')
  div
    label SF Org ID:
      input(name='sf_org_id', value='#{defaults.sf_org_id}', type='text')
  div
    input(type='submit', value='Register')
