h1= title
form(method='post', action='/testencinsert')
  div
    label enc:
      input(name='enc', value='', type='text')
  div
    label notenc:
      input(name='notenc', value='', type='text')
  div
    input(type='submit', value='Register')
